$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;

$fs-0: 0.875rem;
$fs-1: 1.125rem;
$fs-2: 1.625rem;
$fs-3: 2.375rem;
$fs-4: 3.375rem;

$lh-title: 1.25;
$lh-copy: 1.5;
$lh-solid: 1;

$ws-md: 1rem;

$gray-dk: #333;

$blue-md: #2d74da;
